<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>J et' Aime</title>
    <link rel="stylesheet" href="../CSS/sanV.css">
</head>
<body>
    <div class="contenedor">
        <!-- GIFs alrededor del cuadro -->
        <div class="gif gif-1"><img src="../hatsune-miku-dance.gif" alt="GIF 1"></div>
        <div class="gif gif-2"><img src="../kasane-teto.gif" alt="GIF 2"></div>
        <div class="gif gif-3"><img src="../sleepyspammusubi-good-night.gif" alt="GIF 3"></div>
        <div class="gif gif-4"><img src="../bald-people-i-love-bald-people.gif" alt="GIF 4"></div>
        <div class="gif gif-5"><img src="../akita-neru-neru.gif" alt="GIF 5"></div>
        <!-- Cuadro de texto centrado -->
        <div class="cuadro-centrado">
            <h1>Feliz San Valentin Allison</h1>
            <p>A pesar de que no es 14 de febrero, no me aguantaba las santas ganas de regalarte algo por ese día y mira, igualmente te lo hice, porque en verdad quería festejar el primer año de conocer a la hermosa mujer que me alegra todas las mañanas, tardes y noche todos los días.</p>
            <p>Y solo por ese hermoso acontecimiento estoy aquí escribiendo esto mientras recuerdo lo hermosa persona y compañera de vida que has sido así que hacer esto es lo mínimo que puedo hacer por ti y por la hermosa relación que tenemos para así recordarte todos los sentimientos que siento contigo y lo obsesionado que estoy por tu aprobación, pero también porque te lo mereces más que nadie…</p>
            <p>Así que no pienses que hago lo que hago por capricho o diversión, no más, lo hago para mostrarte que mi cariño y acciones son grandes y que están dirigidos para ti y solamente para la hermosa chica que tengo el honor de poder decirle "Bonita, Hermosa, Princesa, Reina, Amor" y a quien amo mucho</p>
            <h2>Te amo y feliz 14 de febrero</h2>
        </div>
    </div>
</body>
</html>